<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/css/edit.css">

    <title>Create Product</title>
  </head>
  <header>
    <img class="logo" src="/css/wax-logo.png" alt="logo">
    <nav> 
        <ul class="nav__links">
            <li><a href="/products/new" id="create">Add Product</a></li>
            <li><a href="#">About</a></li>
            <li><a href="/products">Home</a></li>
     </ul>   
    </nav>
    <a class="cta" href="#"><button>Contact</button></a>
</header>
    <body>
      <img src='<%= product.img %>'></img>
      
<form action="/products/<%=product._id%>?_method=PUT" method="POST">
          Name: <input id="textboxid" type="text" name="name" value="<%= product.name%>"/></br>
          Artist: <input type="text" id="textboxid" name="artist" value="<%= product.artist %>"/></br>
          Description: <input type="text" id="textboxid" name="description" value="<%= product.description %>"/></br>
          Price: <input type="text" id="textboxid" name="price" value="<%= product.price %>"/></br>
          Qty: <input type="text" id="textboxid" name="" value="<%= product.qty%>"/></br>
          <button type="submit">Submit</button>
      </form>
  </body>
</html>