<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/index.css">
    <title>Wax & Needle</title>
</head>
<body>
    <div class="parent">
    <header>
        <img class="logo" src="/css/wax-logo.png" alt="logo">
        <nav> 
            <ul class="nav__links">
                <li><a href="/products/new" id="create">Add Product</a></li>
                <li><a href="#">About</a></li>
                <li><a href="/products">Home</a></li>
         </ul>   
        </nav>
        <a class="cta" href="#"><button>Contact</button></a>
    </header>

  </button>
    <div id="page">
<style>
    h2 {
        text-align-last: center;
    }
</style> 
    <h2>Check out the latest releases!</h2>

    <ul id="albums">
        <% for (let i = 0; i < product.length; i++ ) { %>
          <li id="items">      
            <a id="link" href="/products/<%= product[i]._id %>"><%=product[i].name %></a>


            <a id="artclick" href="/products/<%= product[i]._id %>"><img src="<%= product[i].img %>" alt="<%= product[i].name%>"></a>
            
            </li>
      <% } %>
          </ul>
    </div>
</div>
</body>
</html>